<div fxLayout="column" class="components-container-gt-xs"  [ngClass.xs]="'components-container-xs'"  fxLayoutGap="20px">
	<div fxFlex class="input-component-holder mat-elevation-z4">
		<mat-toolbar class="input-header" *ngIf="editMode">
			<h1 class="mat-headline center-align">Edit user</h1>
    </mat-toolbar>
    <mat-toolbar class="input-header" *ngIf="!editMode">
			<h1 class="mat-headline center-align">Create new user</h1>
		</mat-toolbar>
		<div class="input-container">
			<div fxFlex.xs="100" fxFlex.lg="50" fxFlex.md="50" fxFlex.sm="50" >
					<h4 class="mat-subheading-2 center-align">Fill in the information below</h4>
          <mat-divider></mat-divider>

			  <form class="example-form" enctype="multipart/form-data" #frm="ngForm" (ngSubmit)="createOrUpdateUser(frm)">
          <table class="example-full-width" cellspacing="0">
            <tr>
                <td>
                  <mat-form-field class="example-full-width">
                    <input id="name" name="name" matInput placeholder="Your name" [(ngModel)]="user.name" required>
                  </mat-form-field>
                </td>
              </tr>
              <tr>
                <td>
                  <mat-form-field class="example-full-width">
                    <input #email id="email" name="email" matInput placeholder="Email" [formControl]="emailFormControls" [(ngModel)]="user.email" required>
                  </mat-form-field>
                </td>
              </tr>
              <tr>
                <td>
                  <input #myInput type="file" class="form-control-file" id="file" (change)="inputFileChange($event)">
                </td>
              </tr>
              <tr *ngIf="!editMode">
                <button type="submit" mat-raised-button color="primary" [disabled]="frm.invalid" >Create User</button>
              </tr>
              <tr *ngIf="editMode">
                <button type="submit" mat-raised-button color="primary" [disabled]="frm.invalid" >Save</button>
              </tr>
            </table>
        </form>
      </div>
		</div>
	</div>
</div>
