<div class="toolbar-user-container">
	<button mat-button (click)="isOpen = !isOpen" class="toolbar-user-btn" [class.open]="isOpen" [ngStyle.xs]="{'min-width': '70px'}">
  		<span fxLayout="row" fxLayoutAlign="start center">
    		<img class="avatar" src="assets/user.jpg">
    		<span class="name" fxHide fxShow.gt-xs>João Hang</span>
  		</span>
  	</button>
</div>
