<div fxLayout="column" >

	<div class="service-header" fxLayout="column" fxLayoutAlign="center stretch" >

		<div fxFlex class="content" fxLayout.lt-sm="column" style="padding: 20px;
}" fxLayout="row" fxLayoutAlign="center stretch">

			<div fxFlex="35"  fxFlex.lt-sm="100" fxLayout="row" style="background-color: #45aae3; padding: 20px;"  fxLayoutAlign="center stretch" >
				<div>
					<h3 class="mat-display-1">Our Services</h3>
					<mat-divider></mat-divider>
					<p class="mat-body-2">
					From ideation to market research:Discover, Design, plan your product!From ideation to market research:Discover, Design, plan your product!From ideation to market research:Discover, Design, plan your product!
					</p>
				</div>

			</div>
			<div fxFlex="65" fxHide.lt-sm fxLayout="row" fxLayoutAlign="center center">
				<img style="width: 400px;" src="./assets/images/bg/cdk.png">
			</div>

		</div>
	</div>

	<div fxLayout="column" class="service-card-content">

		<div fxLayout="row" class="service-card-container" fxLayout.lt-md="column" fxLayoutGap="20px"  >

			<div fxFlex.lt-md="100" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px" fxFlex.gt-sm="32" class="mat-elevation-z4 service-card " >
				<img src="/assets/pages/webdesign.png" fxFlex>

				<h3 class="mat-title" fxFlex>Title1</h3>
				<p class="mat-body-2"  fxFlex>From ideation to market research:Discover, Design, plan your product!</p>


			</div>



			<div fxFlex.lt-md="100" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px" fxFlex.gt-sm="32" class="mat-elevation-z4 service-card "  >
				<img src="/assets/pages/mobile.png" fxFlex>

				<h3 class="mat-title" fxFlex>Title3</h3>
				<p class="mat-body-2"  fxFlex>From ideation to market research:Discover, Design, plan your product!</p>


			</div>

			<div fxFlex.lt-md="100" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px" fxFlex.gt-sm="32" class="mat-elevation-z4 service-card "  >
				<img src="/assets/pages/custom.png" fxFlex>

				<h3 class="mat-title"  fxFlex>Title4</h3>
				<p class="mat-body-2"  fxFlex>From ideation to market research:Discover, Design, plan your product!</p>


			</div>

		</div>


		<div fxLayout="row" class="service-card-container" fxLayout.lt-md="column" fxLayoutGap="20px"  >

			<div fxFlex.lt-md="100" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px" fxFlex.gt-sm="32" class="mat-elevation-z4 service-card " >
				<img src="/assets/pages/strategy.png" fxFlex>

				<h3 class="mat-title" fxFlex>Title1</h3>
				<p class="mat-body-2"  fxFlex>From ideation to market research:Discover, Design, plan your product!</p>


			</div>



			<div fxFlex.lt-md="100" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px" fxFlex.gt-sm="32" class="mat-elevation-z4 service-card "  >
				<img src="/assets/pages/mobile.png" fxFlex>

				<h3 class="mat-title" fxFlex>Title3</h3>
				<p class="mat-body-2"  fxFlex>From ideation to market research:Discover, Design, plan your product!</p>


			</div>

			<div fxFlex.lt-md="100" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px" fxFlex.gt-sm="32" class="mat-elevation-z4 service-card "  >
				<img src="/assets/pages/prototype.png" fxFlex>

				<h3 class="mat-title"  fxFlex>Title4</h3>
				<p class="mat-body-2"  fxFlex>From ideation to market research:Discover, Design, plan your product!</p>


			</div>

		</div>




	</div>
</div>

