<div fxLayout="column" fxLayoutAlign="space-between stretch" fxFlexFil fxFill class="components-container-gt-xs " >

	<div fxLayout="row" fxLayoutAlign="space-between stretch" fxFlexFil fxFill fxLayoutGap="20px">

		<div fxFlex="65" fxLayout="column" class="mat-elevation-z2 contact-list-container" >

			<div fxFlex="10" fxLayout="row" fxLayoutAlign="space-between stretch" >

        <div fxflex="70" class="full">
          <h3 class="mat-headline">My Users</h3>
        </div>

        <div fxFlex="30" fxLayout="row" fxLayoutAlign="end center">
          <button mat-raised-button color="primary" [routerLink]="['/auth/material-widgets/input','add']" routerLinkActive="router-link-active"  >ADD USERS</button>
        </div>
        <mat-divider></mat-divider>
			</div>

			<div fxFlex="10" class="contact-list-header" fxLayout="row" fxLayoutAlign="space-around stretch">

				<div fxFlex="10">
					<h4 class="mat-subheading-1" > ID </h4>
        </div>

				<div fxFlex="10">
					<h4 class="mat-subheading-1" > PHOTO </h4>
        </div>

				<div fxFlex="80" fxLayoutAlign="start">
					<h4 class="mat-subheading-1" > NAME </h4>
        </div>

				<div fxFlex="80" fxLayoutAlign="end">
					<h4 class="mat-subheading-1" > ACTIONS </h4>
				</div>

			</div>
			<div fxFlex="70" fxLayout="column" fxLayoutAlign="space-between stretch" class="contact-list-container">

				<div class="contact-list">
					<div fxLayout="row" *ngFor="let user of users"  fxLayoutAlign="space-around none" class="mat-ripple"  >

						<div fxFlex="10" >
							<h3 class="mat-subheading-1"> {{user.id}} </h3>
						</div>
						<div fxFlex="10">
							<img class="avatar" src="/assets/images/{{user.img}}"/>
            </div>

						<div fxFlex="80" >
							<h3 #myName class="mat-subheading-1" > {{user.name}} </h3>
							    <p class="mat-body-1" >
							      {{user.email}}
							    </p>
            </div>

						<div fxFlex="10" fxLayoutAlign="center">
              <button mat-icon-button [routerLink]="['/auth/material-widgets/input', user.id]"> <mat-icon>edit</mat-icon> </button>
              <button mat-icon-button (click)="deleteUser(user.id, user.img)"> <mat-icon>delete</mat-icon> </button>
            </div>
          </div>

				</div>

				<mat-divider></mat-divider>

    		</div>

		</div>

	</div>

</div>
