
<perfect-scrollbar style="height: calc(100% - 33px);">
    <div fxLayout="column" >
        <div *ngIf="!iconOnly" fxLayoutAlign="space-around center" [style.margin]="'10px 0px'" >
          <img width="100" [style.borderRadius]="'50%'" src="./assets/user.jpg">
        </div>
        <cdk-sidemenu-item *ngFor="let menu of menus" [menu]="menu" [iconOnly]="iconOnly"> </cdk-sidemenu-item>
    </div>

</perfect-scrollbar>
