<!-- <stbui-loading *ngIf="showLoading"></stbui-loading> -->
<mat-toolbar   class="mat-elevation-z4">

    <span class="spacer"></span>

    <cdk-fullscreen></cdk-fullscreen>

    <cdk-user-menu [currentUser]="toolbarHelpers?.currentUser"></cdk-user-menu>

</mat-toolbar>
